services:
  server:
    container_name: "snippet-service"
    build:
      context: .
    ports:
      - "8000:8080"
    env_file:
      - .env
    depends_on:
      - db

  db:
    container_name: snippet-postgres-db
    image: postgres:17.6
    ports:
      - "${DB_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
