name: CD

on:
  push:
    branches: ["main", "dev"]

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.TOKEN }}

      - name: Build & Push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.ref_name }}-latest
            ghcr.io/${{ github.repository }}:${{ github.ref_name }}-${{ github.sha }}
          build-args: |
            USERNAME=${{ secrets.USERNAME }}
            TOKEN=${{ secrets.TOKEN }}
      - name: Deploy to Development VM
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SNIPPET_VM_DEV_IP }}
          username: ${{ secrets.SNIPPET_VM_DEV_USER }}
          key: ${{ secrets.SNIPPET_VM_DEV_SSH_KEY }}
          script: |
              cd infra
              docker-compose -f docker-compose.dev.yml down
              docker pull ghcr.io/${{github.repository}}:${{github.ref_name}}-latest
              docker-compose -f docker-compose.dev.yml up -d
